<html>
    <head>
        <link rel="stylesheet" href="/static/main.css" />
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    </head>

    <body>
        <div class="form_div">
            <form method="get">
                <div id="header">
                    <img
                        src="{{url_for('static', filename='BostonEats.svg')}}"
                        alt="boston eats logo"
                    />
                </div>
                <div>
                    <div class="form_group">
                        <label class="form_label" for="fav_name">Name of Favorite Boston Restaurant<abbr title="Required">*</abbr>:</label>
                        <input
                        type="text"
                        name="fav_name"
                        id="fav_name"
                        class="fav_name_input"
                        onChange="nameValidation(this.value)"
                        required
                        />
                    </div>
                    <p class="hidden" id="fav_restaurant_p">
                        This restaurant is not in the dataset. Try another restaurant and
                        pick from the autocomplete suggestions, or input your own review!
                    </p>
                    <div class="form_group hidden" id="user_review_div">
                        <div id="review_instructions">
                        <label class="form_label" for="user_review"
                            >User Review<abbr title="Required">*</abbr>:</label
                        >
                        <p id="review_instructions_p">
                            2-3 sentences about why like the restaurant, the ambiance of the
                            restaurant, your favorite foods there, etc.
                        </p>
                        </div>
                        <textarea name="user_review" id="user_review"></textarea>
                    </div>
                    <div class="form_group">
                        <label for="max_price">Price Point:</label>
                        <select name="max_price" id="max_price">
                            <option value=""></option>
                            <option value="low">Low (~$10)</option>
                            <option value="medium">Medium (~$30)</option>
                            <option value="high">High (~$60)</option>
                        </select>
                    </div>
                    <div class="form_group">
                        <label for="cuisine">Cuisine:</label>
                        <select name="cuisine" id="cuisine">
                            <option value=""></option>
                            <option value="Italian">Italian</option>
                            <option value="Mexican">Mexican</option>
                            <option value="Indian">Indian</option>
                            <option value="Japanese">Japanese</option>
                            <option value="Seafood">Seafood</option>
                            <option value="Vietnamese">Vietnamese</option>
                            <option value="Thai">Thai</option>
                            <option value="Halal">Halal</option>
                            <option value="Greek">Greek</option>
                        </select>
                    </div>
                    <div class="form_group">
                        <p id="ambianceLabel">Ambiance:</p>
                        <div class="checkbox_div">
                            <input
                                type="checkbox"
                                id="ambiance1"
                                name="ambiance1"
                                value="romantic"
                            />
                            <label for="ambiance1">Romantic</label><br />
                            <input
                                type="checkbox"
                                id="ambiance2"
                                name="ambiance2"
                                value="intimate"
                            />
                            <label for="ambiance2">Intimate</label><br />
                            <input
                                type="checkbox"
                                id="ambiance3"
                                name="ambiance3"
                                value="classy"
                            />
                            <label for="ambiance3">Classy</label><br />
                            <input
                                type="checkbox"
                                id="ambiance4"
                                name="ambiance4"
                                value="hipster"
                            />
                            <label for="ambiance4">Hipster</label><br />
                            </div>
                            <div class="checkbox_div">
                            <input
                                type="checkbox"
                                id="ambiance5"
                                name="ambiance5"
                                value="touristy"
                            />
                            <label for="ambiance5">Touristy</label><br />
                            <input
                                type="checkbox"
                                id="ambiance6"
                                name="ambiance6"
                                value="trendy"
                            />
                            <label for="ambiance6">Trendy</label><br />
                            <input
                                type="checkbox"
                                id="ambiance7"
                                name="ambiance7"
                                value="upscale"
                            />
                            <label for="ambiance7">Upscale</label><br />
                            <input
                                type="checkbox"
                                id="ambiance8"
                                name="ambiance8"
                                value="casual"
                            />
                            <label for="ambiance8">Casual</label><br />
                        </div>
                    </div>
                    <div class="form_group" id="slider_div">
                        <p>Ambiance Weight</p>
                        <input
                        type="range"
                        min="0"
                        max="100"
                        value="50"
                        class="slider"
                        name="weightRange"
                        id="weightRange"
                        />
                        <p>Review Weight</p>
                    </div>
                    <div id="button_div">
                        <button type="submit">
                        Find your new favorite restaurant in Boston!
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="result_div">
            <h1 id="output_message">{{output_message}}</h1>
            {% if legend_bool %}
            <div id="filter_info">
                <p id="search_pref">Search Preferences:</p>
                <ul>
                {% for filter in filter_message %}
                    <li>
                        <p>{{filter}}:</p>
                        {{filter_message[filter]}}
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div id="dollar_legend">
                <p id="legend_label">Price per Person in Dollars:</p>
                <p>$ = under 10, $$ = 11-30, $$$ = 31-60, $$$$ = 61+, $$$$ = 61++</p>
            </div>
            {% endif %}
            {% for d in data %}
            <div class="rec_info">
                <div class="summary">
                    <div class="name_div">
                        <a class="restaurant_name" href="https://www.yelp.com/biz/{{data[d]['id']}}">{{d}}</a>
                        <p>({{data[d]['sim_score']}}% Match)</p>
                    </div>
                    <div class="categories">
                        <p class="categories_label">Categories:</p>
                        <p>{{data[d]['categories']}}</p>
                    </div>
                    <p>{{data[d]['address']}}</p>
                    <div class="icon_info">
                        <div class="stars">
                            {% for star in range(data[d]['star rating']) %}
                            <p>★</p>
                            {% endfor %} {% for star in range(5 - data[d]['star rating']) %}
                            <p>☆</p>
                            {% endfor %}
                        </div>
                        <div>
                            <p class="divider">|</p>
                        </div>
                        <div class="dollar_signs">
                            {% for dollar in range(data[d]['price']) %}
                            <p>$</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            <div class="review_pic">
                <img src="{{data[d].photos[0]}}" width="250px" />
                <div class="review_info">
                    <p class="review_label">Reviews:</p>
                    {% for r in data[d]['reviews'] %}
                    <p>"{{r}}"</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        </div>

        <footer>
            <p>Project Name: Favorite Restaurant Generator</p>
            <p>
                Student Name: Becky Borrazzo: rgb226, Lucy Wang: ljw222, Maya Tiwari:
                mot23, Reetu Parikh: rsp99, Sahar Sami: ss2698
            </p>
        </footer>

        <!-- Javascript -->
        <script type="text/javascript">
            // need to get all names of restaurants from dict in rankings.py
            var restaurants_string = "{{ restaurant_list }}";
            var restaurants_string_cleaned = restaurants_string.replaceAll(
                "&#34;",
                ""
            );
            var restaurants_string_cleaned = restaurants_string_cleaned.replaceAll(
                "amp;",
                ""
            );
            var restaurants_string_cleaned = restaurants_string_cleaned.replaceAll(
                " &#39;",
                " "
            );
            var restaurants_string_cleaned = restaurants_string_cleaned.replaceAll(
                "&#39;,",
                ", "
            );
            var restaurants_string_cleaned = restaurants_string_cleaned.replaceAll(
                "[&#39;",
                "["
            );
            var restaurants_string_cleaned = restaurants_string_cleaned.replaceAll(
                "&#39;]",
                "]"
            );
            var restaurants_string_cleaned = restaurants_string_cleaned.replaceAll(
                "&#39;",
                "'"
            );
            var restaurants_string_cleaned = restaurants_string_cleaned.substring(
                1,
                restaurants_string_cleaned.length - 1
            );
            var restaurants = restaurants_string_cleaned.split(", ");
            restaurants = restaurants.map(function (r) {
                return r.trim();
            });

            $(function () {
                $("#fav_name").autocomplete({
                    source: restaurants,
                });
            });

            // checks if the restaurant name input is in the dataset, if not will show the user review input
            function nameValidation(name) {
                var name_input = document.getElementById("fav_name");
                var user_review_div = document.getElementById("user_review_div");
                var user_review_input = document.getElementById("user_review");
                var fav_restaurant_p = document.getElementById("fav_restaurant_p");

                // restaurant name is in dataset
                if (restaurants.includes(name)) {
                name_input.classList.remove("invalid");
                user_review_div.classList.add("hidden");
                name_input.required = true;
                user_review_input.required = false;
                fav_restaurant_p.classList.add("hidden");
                } else {
                // not in dataset
                name_input.classList.add("invalid");
                user_review_div.classList.remove("hidden");
                name_input.required = false;
                user_review_input.required = true;
                fav_restaurant_p.classList.remove("hidden");
                }
            }
        </script>
    </body>
</html>
